@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

html, body {
	color: #ffffff;
	/* Required for Firefox */
	font-family: "Comic Sans MS", Tahoma, sans-serif; /* See I'm even using Comic Sans to show you that this isn't to be used by the user. */
	font-size: 12px;
	line-height: 20px;
}

body {
	background-color: #1d1f2b;
}

a {
	text-decoration: none;
	color: #ec1a55;
	cursor: pointer;
}

a:hover {
	text-decoration:underline;
}

.glyphicon {
	font-size: 20px;
}

#search {
	text-align: center;
}

input[type="radio"] {
	vertical-align: sub;
}

input[type="text"] {
	width: 20em;
	margin-left: 5px;
}

table, th, td {
    border-collapse: collapse;
}

.item {
	font-weight: 300 !important;
	letter-spacing: 0.05em !important;
	/* font-family: "Open Sans", Tahoma, sans-serif !important;  */
}

th, td {
	padding: 5px;
}

#favorites-list {
	width: 90%;
	margin: 0 auto;
}

#favorites-list th {
	font-size: 16px;
	text-align: left;
	border-bottom: 1px solid;
}

#favorites-list td {
	border-collapse: collapse;

	border-bottom: 1px solid;
}