@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

* {
	transition: color 0.5s;
}

html {
	min-height: 145px;
}

body {
	background-color: #1d1f2b;
}

html,
body {
	width: 480px;
	margin: 0;
	padding: 0;
	color: #fff;
	font: 300 12px 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
	letter-spacing: 0.05em !important;
}

a {
	color: #ec1a55;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.glyphicon {
	font-size: 20px;
	user-select: none;
	-moz-user-select: none;
}

#alert {
	display: none;
	margin: 30px 5px -30px 80px;
	text-align: center;
	font-weight: bold !important;
	color: orangered;
}

/* == Listener Count == */

#listeners {
	position: absolute;
	top: 5px;
	right: 5px;
}

/* == Container == */

#listenMoe {
	margin-bottom: 45px;
	margin-left: 105px;
	margin-top: 45px;
}

/* == Now Playing Info == */

#now-playing-container {
	text-align: center;
}

#now-playing-info {
	white-space: nowrap;
	overflow-x: hidden;
	margin: auto 10px;
	text-overflow: ellipsis;
}

#now-playing-text {
	position: relative;
	cursor: pointer;
}

#now-playing #now-playing-info,
#now-playing #now-playing-request,
#now-playing #now-playing-event {
	padding-right: 5px;
}

#now-playing #now-playing-request {
	display: none;
	margin-top: 5px;
	color: #ec1a55;
	font-weight: bold !important;
	cursor: default;
}

/* == Queue Info == */

#queue-container {
	text-align: center;
}

#queue-container, #queue-user {
	display: none;
}

#queue-container, #queue-user-before {
	margin-top: 5px;
}

/* == Radio Controls Container == */

#radio-controls {
	margin: 10px 0px 10px 0px;
	text-align: center;
}

#radio-controls #radio-playpause,
#radio-controls #radio-volume,
#radio-controls #radio-favorite {
	display: inline-block;
	vertical-align: middle;
}

/* == Play/Pause Button == */

#radio-controls #radio-playpause {
	margin-right: 15px;
}

#radio-controls #radio-playpause .playpause:hover {
	cursor: pointer;
	color: #EC1A55;
}

#radio-controls #radio-playpause .glyphicon-refresh {
	animation: spin 2s infinite linear;
}

/* == Volume Slider == */

#radio-volume #volume-slider {
    vertical-align: text-top;
	width: 200px;
}

#volume-slider {
	-webkit-appearance: none;
	border-radius: 5px;
}

#volume-slider::-webkit-slider-runnable-track {
	background: #ec1a55;
	border: none;
	border-radius: 5px;
	height: 6px;
}

#volume-slider::-moz-range-track {
	background: #ec1a55;
	border: none;
	border-radius: 5px;
	height: 6px;
}

#volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #fff;
	border-radius: 50%;
	border: none;
	height: 16px;
	margin-top: -5px;
	width: 16px;
}

#volume-slider::-moz-range-thumb {
	background: #fff;
	border-radius: 50%;
	border: none;
	height: 16px;
	margin-top: -5px;
	width: 16px;
}

#volume-slider:focus {
	outline: none;
}

#radio-controls #radio-volume .glyphicon-volume-down {
	right: 9px;
	width: 15px;
}

#radio-controls #radio-volume .glyphicon-volume-up {
	left: 13px;
}

/* == Favorite button == */

#radio-controls #radio-favorite {
	margin-left: 20px;
}

#radio-controls #radio-favorite .toggle-favorite:hover {
	cursor: pointer;
	color: #EC1A55 !important;
}

/* Footer */

#favs {
	position: absolute;
	left: 125px;
	bottom: 5px;
}

#settings {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

/* GIF */

#ram_rem {
	/* background-image: url('../images/ram_rem.gif') */
	background-image: url('../images/kanna.gif');
	background-position-x: -3px;
	background-size: cover;
	height: 145px;
	width: 110px;
	position: absolute;
	bottom: 0px;
	left: 5px;
}
