@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

* {
    transition: color 0.5s;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

html, body {
    width: 460px;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
	/* Required for Firefox */
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 12px;
}

@-moz-document url-prefix() {
    body { border: 1px solid; }
}

body {
    background-color: #1d1f2b;
    /* background: url(images/centerTest.png); */
}

a {
    text-decoration: none;
    color: #ec1a55;
    cursor: pointer;
}

a:hover {
    text-decoration:underline;
}

.glyphicon {
    font-size: 20px;
}

/* === */

#listenMoe { margin-bottom: 25px; margin-left: 80px; }
#listenMoe div #now-playing { margin-top: 35px; }
#listenMoe div #now-playing #now-playing-info, #listenMoe div #now-playing #now-playing-request { padding-right: 5px; }
#listenMoe div #now-playing #now-playing-request { display: none; margin-top: 5px; }
#listenMoe div #listeners { position: absolute; top: 5px; right: 5px; }

#listenMoe #radio-controls { margin: 10px 0px 10px 0px; text-align: center; }

#listenMoe #radio-controls #radio-playpause { width: 25px; display: inline; margin-right: 15px; }
#listenMoe #radio-controls #radio-playpause .playpause:hover { cursor: pointer; color: #EC1A55; }

#listenMoe #radio-controls #radio-playpause .glyphicon-refresh { animation: spin 2s infinite linear; }

#listenMoe #radio-controls #radio-favorite { display: inline; margin-left: 20px; }
#listenMoe #radio-controls #radio-favorite .toggle-favorite:hover { cursor: pointer; color: #EC1A55 }

#listenMoe #radio-controls #radio-volume { display: inline; }
#listenMoe #radio-controls #radio-volume #volume-slider {
    background: #F75E7E;
    display: inline-block;
    height: 8px;
    width: 200px;
    top: -5px;
    margin: auto;
    border: none;
}

#listenMoe #radio-controls #radio-volume #volume-slider.ui-slider .ui-slider-range-min { background: #EC1A55; }
#listenMoe #radio-controls #radio-volume #volume-slider.ui-slider .ui-slider-handle {
    top: -6px;
    height: 20px;
    width: 20px;
    border: 1px solid #666;
    border-radius: 50px;
    outline: none;
    background: white;
    border: none;
}

#listenMoe #radio-controls #radio-volume .glyphicon-volume-down { width: 15px; right: 9px; }
#listenMoe #radio-controls #radio-volume .glyphicon-volume-up { left: 13px; }

#listenMoe #radio-options { text-align: center; }

#credit {
    position: absolute;
    right: 3px;
    bottom: 2px;
}

#rem {
	height: 145px;
	position: absolute;
	bottom: 0px;
	left: 5px;
}