@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

* {
  transition: color 0.5s;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

html, body {
  /*width: 460px;*/
  width: 480px;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 12px;
}

@-moz-document url-prefix() {
  body {
		border: 1px solid;
	}
}

body {
  background-color: #1d1f2b;
}

a {
  text-decoration: none;
  color: #ec1a55;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.glyphicon {
  font-size: 20px;
	-webkit-user-select: none;
  -moz-user-select: none;
}

/* == Listener Count == */

#listeners {
	position: absolute;
	top: 5px;
	right: 5px;
}

/* == Container == */

#listenMoe {
	margin-bottom: 30px;
	/*margin-left: 80px;*/
	margin-left: 105px;
	margin-top: 35px;
}

/* == Now Playing Info == */

#now-playing #now-playing-info,
#now-playing #now-playing-request,
#now-playing #now-playing-event {
	padding-right: 5px;
}

.now-playing {
	display: none;
	margin-top: 5px;
}

#now-playing #now-playing-request #request-username {
	font-weight: bold !important;
}

#now-playing #now-playing-event {
  color: #ec1a55;
  font-weight: bold !important;
  cursor: default;
}

/* == Queue Info == */

#queue-container, #queue-user {
	display: none;
}

#queue-container, #queue-user-before {
	margin-top: 5px;
}

/* == Radio Controls Container == */

#radio-controls {
	margin: 10px 0px 10px 0px;
	text-align: center;
}

/* == Play/Pause Button == */

#radio-controls #radio-playpause {
	width: 25px;
	display: inline;
	margin-right: 15px;
}

#radio-controls #radio-playpause .playpause:hover {
	cursor: pointer;
	color: #EC1A55;
}

#radio-controls #radio-playpause .glyphicon-refresh {
	animation: spin 2s infinite linear;
}

/* == Favorites Button == */

/*#radio-controls #radio-favorite .glyphicon-star-empty:before {
	color: white;
}

#radio-controls #radio-favorite .glyphicon-star:before {
	color: #ffac33;
}*/

#radio-controls #radio-favorite {
	display: inline;
	margin-left: 20px;
}

#radio-controls #radio-favorite .toggle-favorite:hover {
	cursor: pointer;
	color: #EC1A55 !important;
}

.favorite-button {
	width: 64px;
  height: 64px;
  background: url(../images/fav_sprite.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: -7px;
  left: -7px;
  transform: scale(.75, .75);
}

.favorite-button.activated {
  background-position: -3519px 0;
  transition: background 1s steps(55);
}

/* == Volume Slider == */

#radio-controls #radio-volume {
	display: inline;
}

#radio-controls #radio-volume #volume-slider {
  background: #F75E7E;
  display: inline-block;
  height: 8px;
  width: 200px;
  top: -5px;
  margin: auto;
  border: none;
}

#radio-controls #radio-volume #volume-slider.ui-slider .ui-slider-range-min {
	background: #EC1A55;
}

#radio-controls #radio-volume #volume-slider.ui-slider .ui-slider-handle {
  top: -6px;
  height: 20px;
  width: 20px;
  border: 1px solid #666;
  border-radius: 50px;
  outline: none;
  background: white;
  border: none;
}

#radio-controls #radio-volume .glyphicon-volume-down {
	width: 15px;
	right: 9px;
}

#radio-controls #radio-volume .glyphicon-volume-up {
	left: 13px;
}

/* == Radio Options == */

#listenMoe #radio-options {
	text-align: center;
}

/*#listenMoe { margin-bottom: 25px; margin-left: 80px; }
#listenMoe div #now-playing { margin-top: 35px; }
#listenMoe div #now-playing #now-playing-info, #listenMoe div #now-playing #now-playing-request { padding-right: 5px; }
#listenMoe div #now-playing #now-playing-request { display: none; margin-top: 5px; }
#listenMoe div #now-playing #now-playing-request #request-username { font-weight: bold !important; }
#listenMoe div #listeners { position: absolute; top: 5px; right: 5px; }

#listenMoe #radio-controls { margin: 10px 0px 10px 0px; text-align: center; }

#listenMoe #radio-controls #radio-playpause { width: 25px; display: inline; margin-right: 15px; }
#listenMoe #radio-controls #radio-playpause .playpause:hover { cursor: pointer; color: #EC1A55; }

#listenMoe #radio-controls #radio-playpause .glyphicon-refresh { animation: spin 2s infinite linear; }

#listenMoe #radio-controls #radio-favorite { display: inline; margin-left: 20px; }
#listenMoe #radio-controls #radio-favorite .toggle-favorite:hover { cursor: pointer; color: #EC1A55 }

#listenMoe #radio-controls #radio-volume { display: inline; }
#listenMoe #radio-controls #radio-volume #volume-slider {
    background: #F75E7E;
    display: inline-block;
    height: 8px;
    width: 200px;
    top: -5px;
    margin: auto;
    border: none;
}

#listenMoe #radio-controls #radio-volume #volume-slider.ui-slider .ui-slider-range-min { background: #EC1A55; }
#listenMoe #radio-controls #radio-volume #volume-slider.ui-slider .ui-slider-handle {
    top: -6px;
    height: 20px;
    width: 20px;
    border: 1px solid #666;
    border-radius: 50px;
    outline: none;
    background: white;
    border: none;
}

#listenMoe #radio-controls #radio-volume .glyphicon-volume-down { width: 15px; right: 9px; }
#listenMoe #radio-controls #radio-volume .glyphicon-volume-up { left: 13px; }

#listenMoe #radio-options { text-align: center; }*/

#favs {
	position: absolute;
	/*left: 105px;*/
	left: 125px;
	bottom: 2px;
}

#credit {
  position: absolute;
  right: 5px;
  bottom: 2px;
}

#rem {
	height: 145px;
	position: absolute;
	bottom: 0px;
	left: 5px;
}

#ram_rem {
	height: 145px;
  /*width: 72px;*/
  width: 110px;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  left: 5px;
  /*background-position-x: 4px;*/
  background-position-x: -3px;
}
